.header {
   box-sizing: border-box;
   width: 100%;
   padding: 44px 0 37px 0;
   border-bottom: 1px solid #545454b4 ;
}

@media screen and (max-width: 700px) {
   .header {
      padding: 28px 0;
   }
}